body 
{
	background-color: #404040;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logowanie
{
	background-color: gray;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
	box-shadow: 3px 3px 30px 5px rgba(0,0,0,0.9);
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: black;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.9);
	background-color: lightgray;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: #ff001d;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-top: 20px;
}

input[type=submit]:hover
{
	background-color: #36b03c;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.9);
}

input::-webkit-input-placeholder
{
	color: red;
}

input:focus::-webkit-input-placeholder
{
	color: #428c42;
}

input:-moz-placeholder
{
	color: red;
}

input:focus:-moz-placeholder
{
	color: #428c42;
}
input::-webkit-input-placeholder
{
	color: red;
}

input:focus::-webkit-input-placeholder
{
	color: #428c42;
}

input:-ms-input-placeholder
{
	color: red;
}

input:focus:-ms-input-placeholder
{
	color: #428c42;
}


#menu
{
	color: white;
	background-color: #303030;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

#topbar
{
	background-color: #ff001d;
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 25px;
	height: 170px;
}

#topbarL
{
	float: left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #cccccc;
}

#topbarR
{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
}

#sidebar
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding: 20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666
}

#content
{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.optionL
{
	font-size: 18px;
	height: 25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444
}

h1
{
	font-size: 25px;
	padding: 0px;
	margin: 0px;
}

p
{
	letter-spacing: 2px;
}

ol
{
	text-align: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: white;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 120px;
	height: 40px;
	border-right: 2px dotted #444444;
}

ol > li:first-child
{
	border-left: 2px dotted #444444;
}

ol > li:hover
{
	background-color: #000000;
	cursor: pointer;
}

ol > li:hover > a
{
	color: gray;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color: #000000;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #444444;
}

ol > li > ul > li:hover
{
	background-color: #303030;
}

ol > li > ul > li:hover > a
{
	color: gray;
}